*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #81ff7f;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}

.cabecalho-imagem{

    width: 20%;
}
.cabecalho-item{
     display: inline-block;
     margin: 44px 0px;
     font-size: 34px;

    }