*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #93e092;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{

    width: 20%;
}
.cabecalho-item{
     display: inline-block;
     margin: 0 36px;
     font-size: 24px;

    }

    .escola-imagem{
      width: 25%;
    }

.escola{
    background-image: linear-gradient(#93e092, #149100);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px O;
}

.escola-div-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 24px 0;
}
.estudante-titulo{ 
    text-align: center;
    padding: 50px;
}
.materias {
    background-image: linear-gradient(#93e092, #149100 );
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px O;
}

.escola-div-conteudo{
    width: 35%;
}